@using System.Web.UI.WebControls
@model Hurst.DAL.Seller
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Registration</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
                            <li>Registration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADING-BANNER END -->
<!-- SHOPPING-CART-AREA START -->
<div class="login-area  pt-80 pb-80">
    <h3 class="bg-success" id="mes">@ViewBag.Message</h3>
    <div class="container">

        <div class="row">
            @using (Html.BeginForm("Login", "Registration"))
            {
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="customer-login text-left">
                        <h4 class="title-1 title-border text-uppercase mb-30">Registered customers</h4>
                        <p class="text-gray">If you have an account with us, Please login!</p>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email here..." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <p><a href="#" class="text-gray">Forget your password?</a></p>
                        <button type="submit" data-text="login" class="button-one submit-button mt-15">login</button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Index", "Registration"))
            {
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="customer-login text-left">
                        <h4 class="title-1 title-border text-uppercase mb-30">new customers</h4>
                        <p class="text-gray">If you have an account with us, Please login!</p>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Your name here..." } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @*<input type="text" placeholder="Your name here..." name="name">*@
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email address here..." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @*<input type="text" placeholder="Email address here..." name="email">*@
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @*<input type="password" placeholder="Password">*@
                        @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Confirm password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        @*<input type="password" placeholder="Confirm password">*@
                        <p class="mb-0">
                            <input type="checkbox" id="newsletter" name="newsletter" checked>
                            <label for="newsletter"><span>Sign up for our newsletter!</span></label>
                        </p>
                        <button type="submit" data-text="regiter" class="button-one submit-button mt-15">regiter</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<!-- SHOPPING-CART-AREA END -->
@section Scripts
{
    <script>
        setTimeout(function() {
            $('#mes').remove();
        }, 2000);
    </script>
}